Cambio de pickle a csv for render

In [6]:
import requests
import pandas as pd

# URLs de los archivos Pickle en GitHub
urls = [
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f1_lang_movie_count.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f2_movies_runtime.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f3_collection_name_returns.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f4_production_countrys.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f5_production_companies_return.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f6_df_expanded.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f6_get_director.pkl',
    'https://github.com/Lucaramallo/PI1_MLOps_Sistema_de_Recomendacion_Movies_ML/raw/main/Datasets_Cleaned_light/df_f7_one_hot_genres.pkl'
]

# Descargar y cargar los archivos Pickle
dataframes = []
for url in urls:
    response = requests.get(url)
    with open(url.split('/')[-1], 'wb') as f:
        f.write(response.content)
    dataframe = pd.read_pickle(url.split('/')[-1])
    dataframes.append(dataframe)

# Asignar los DataFrames a las variables correspondientes
df_f1_lang_movie_count, df_f2_movies_runtime, df_f3_collection_name_returns, df_f4_production_countrys, df_f5_production_companies_return, df_f6_df_expanded, df_f6_get_director, df_f7_one_hot_genres = dataframes

# Guardar los DataFrames en archivos CSV con los mismos nombres
df_f1_lang_movie_count.to_csv('../Datasets_Cleaned_light/df_f1_lang_movie_count.csv', index=False, mode ='w')
df_f2_movies_runtime.to_csv('../Datasets_Cleaned_light/df_f2_movies_runtime.csv', index=False, mode ='w')
df_f3_collection_name_returns.to_csv('../Datasets_Cleaned_light/df_f3_collection_name_returns.csv', index=False, mode ='w')
df_f4_production_countrys.to_csv('../Datasets_Cleaned_light/df_f4_production_countrys.csv', index=False, mode ='w')
df_f5_production_companies_return.to_csv('../Datasets_Cleaned_light/df_f5_production_companies_return.csv', index=False, mode ='w')
df_f6_df_expanded.to_csv('../Datasets_Cleaned_light/df_f6_df_expanded.csv', index=False, mode ='w')
df_f6_get_director.to_csv('../Datasets_Cleaned_light/df_f6_get_director.csv', index=False, mode ='w')
df_f7_one_hot_genres.to_csv('../Datasets_Cleaned_light/df_f7_one_hot_genres.csv', index=False, mode ='w')

### algunas revisiones..

In [7]:
df_f5_production_companies_return

,production_companies_nombres,budget_per_company,revenue_per_company,return_per_company,count_movies
0,"""dia"" productions gmbh & co. kg",9.000000e+06,1.108773e+07,0.307993,1
1,# andrea sperling productions,1.250000e+06,5.604674e+06,2.241870,1
2,# lexyn productions,1.408193e+06,3.736449e+06,0.884455,1
3,'a' production committee,8.449158e+06,2.241870e+07,5.306730,2
4,(?)?????,5.000000e+06,1.120935e+07,2.241870,1
...,...,...,...,...,...
23525,영화사 집,4.224579e+06,1.120935e+07,2.653365,1
23526,이디오플랜,4.224579e+06,1.120935e+07,2.653365,1
23527,인벤트 디,4.224579e+06,1.120935e+07,2.653365,1
23528,타임스토리그룹,2.112289e+06,5.604674e+06,1.326682,1
23529,프로덕션m,4.224579e+06,1.120935e+07,2.653365,1

In [8]:
df_f4_production_countrys

                  country_names
0      united states of america
1      united states of america
2      united states of america
3      united states of america
4      united states of america
...                         ...
52764                    russia
52765                    france
52766                    france
52767                     india
52768                      iran

[65164 rows x 1 columns]