# Funtions Testing for API:


**`Desarrollo API`**:   Propones disponibilizar los datos de la empresa usando el framework ***FastAPI***. Las consultas que propones son las siguientes:

Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get(‘/’)).
  
+ def **peliculas_idioma( *`Idioma`: str* )**:
    Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` cantidad de películas fueron estrenadas en `idioma`*
         

+ def **peliculas_duracion( *`Pelicula`: str* )**:
    Se ingresa una pelicula. Debe devolver la duracion y el año.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` . Duración: `x`. Año: `xx`*

+ def **franquicia( *`Franquicia`: str* )**:
    Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La franquicia `X` posee `X` peliculas, una ganancia total de `x` y una ganancia promedio de `xx`*

+ def **peliculas_pais( *`Pais`: str* )**:
    Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *Se produjeron `X` películas en el país `X`*

+ def **productoras_exitosas( *`Productora`: str* )**:
    Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo. 
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La productora `X` ha tenido un revenue de `x`*

+ def **get_director( *`nombre_director`* )**:
    Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.



<br/>


> `Importante`<br>
El MVP _tiene_ que ser una API que pueda ser consumida segun los criterios de [API REST o RESTful](https://rockcontent.com/es/blog/api-rest/). Algunas herramientas como por ejemplo, Streamlit, si bien pueden brindar una interfaz de consulta, no cumplen con las condiciones para ser consideradas una API, sin workarounds.


**`Deployment`**: Conoces sobre [Render](https://render.com/docs/free#free-web-services) y tienes un [tutorial de Render](https://github.com/HX-FNegrete/render-fastapi-tutorial) que te hace la vida mas facil :smile: . Tambien podrias usar [Railway](https://railway.app/), o cualquier otro servicio que permita que la API pueda ser consumida desde la web.

<br/>

**`Análisis exploratorio de los datos`**: _(Exploratory Data Analysis-EDA)_

Ya los datos están limpios, ahora es tiempo de investigar las relaciones que hay entre las variables de los datasets, ver si hay outliers o anomalías (que no tienen que ser errores necesariamente :eyes: ), y ver si hay algún patrón interesante que valga la pena explorar en un análisis posterior. Las nubes de palabras dan una buena idea de cuáles palabras son más frecuentes en los títulos, ¡podría ayudar al sistema de recomendación! En esta ocasión vamos a pedirte que no uses librerías para hacer EDA automático ya que queremos que pongas en practica los conceptos y tareas involucrados en el mismo. Puedes leer un poco más sobre EDA en [este articulo](https://medium.com/swlh/introduction-to-exploratory-data-analysis-eda-d83424e47151)

**`Sistema de recomendación`**: 

Una vez que toda la data es consumible por la API, está lista para consumir por los departamentos de Analytics y Machine Learning, y nuestro EDA nos permite entender bien los datos a los que tenemos acceso, es hora de entrenar nuestro modelo de machine learning para armar un sistema de recomendación de películas. El EDA debería incluir gráficas interesantes para extraer datos, como por ejemplo una nube de palabras con las palabras más frecuentes en los títulos de las películas. Éste consiste en recomendar películas a los usuarios basándose en películas similares, por lo que se debe encontrar la similitud de puntuación entre esa película y el resto de películas, se ordenarán según el score de similaridad y devolverá una lista de Python con 5 valores, cada uno siendo el string del nombre de las películas con mayor puntaje, en orden descendente. Debe ser deployado como una función adicional de la API anterior y debe llamarse:


+ def **recomendacion( *`titulo`* )**:
    Se ingresa el nombre de una película y te recomienda las similares en una lista de 5 valores.

<br/>

### Import Libraries:

In [1]:
import pandas as pd
import pickle

### Import Input Data:

### df_movies:

In [2]:
# Cargar el archivo pickle como DataFrame de pandas
df_movies = pd.read_pickle('../../Datasets Cleaned & light/df_movies.pkl')
df_movies.head(2)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,...,genre_names,production_companies_ids,production_companies_nombres,iso_codes,country_names,iso_language_codes,language_names,release_year,return,collection_name
0,30000000.0,862,en,"led by woody, andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81,released,toy story,...,"['animation', 'comedy', 'family']",[3],['pixar animation studios'],['us'],['united states of america'],['en'],['english'],1995,12.451801,toy story collection
1,65000000.0,8844,en,when siblings judy and peter discover an encha...,17.015539,1995-12-15,262797249,104,released,jumanji,...,"['adventure', 'fantasy', 'family']","[559, 2550, 10201]","['tristar pictures', 'teitler film', 'intersco...",['us'],['united states of america'],"['en', 'fr']","['english', 'français']",1995,4.043035,not part of a collection

In [3]:
df_movies.shape

(136398, 23)

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136398 entries, 0 to 136397
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   budget                        136389 non-null  float64
 1   id                            136398 non-null  int64
 2   original_language             136398 non-null  object
 3   overview                      136398 non-null  object
 4   popularity                    136398 non-null  float64
 5   release_date                  136128 non-null  datetime64[ns]
 6   revenue                       136398 non-null  int64
 7   runtime                       136398 non-null  int64
 8   status                        136398 non-null  object
 9   title                         136398 non-null  object
 10  vote_average                  136398 non-null  float64
 11  vote_count                    136398 non-null  int64
 12  genre_ids                     136398 non-null  object
 13  genre_names                   136398 non-null  object
 14  production_companies_ids      136398 non-null  object
 15  production_companies_nombres  136398 non-null  object
 16  iso_codes                     136398 non-null  object
 17  country_names                 136398 non-null  object
 18  iso_language_codes            136398 non-null  object
 19  language_names                136398 non-null  object
 20  release_year                  136398 non-null  int64
 21  return                        136398 non-null  float64
 22  collection_name               136398 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(13)
memory usage: 23.9+ MB

### df_movies_directors:

In [5]:
# Cargar el archivo pickle como DataFrame de pandas
df_movies_directors = pd.read_pickle('../../Datasets Cleaned & light/df_movies_directors.pkl')
df_movies_directors.head(2)

,budget,movie_id,original_language,overview,popularity,release_date,revenue,runtime,status,title,...,production_companies_nombres,iso_codes,country_names,iso_language_codes,language_names,release_year,return,collection_name,directors_id,directors_names
0,30000000.0,862,en,"led by woody, andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81,released,toy story,...,['pixar animation studios'],['us'],['united states of america'],['en'],['english'],1995,12.451801,toy story collection,[7879],[John Lasseter]
1,65000000.0,8844,en,when siblings judy and peter discover an encha...,17.015539,1995-12-15,262797249,104,released,jumanji,...,"['tristar pictures', 'teitler film', 'intersco...",['us'],['united states of america'],"['en', 'fr']","['english', 'français']",1995,4.043035,not part of a collection,[4945],[Joe Johnston]

In [6]:
df_movies_directors.shape

(133506, 25)

In [7]:
df_movies_directors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133506 entries, 0 to 136197
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   budget                        133506 non-null  float64
 1   movie_id                      133506 non-null  int64
 2   original_language             133506 non-null  object
 3   overview                      133506 non-null  object
 4   popularity                    133506 non-null  float64
 5   release_date                  133506 non-null  datetime64[ns]
 6   revenue                       133506 non-null  int64
 7   runtime                       133506 non-null  int64
 8   status                        133506 non-null  object
 9   title                         133506 non-null  object
 10  vote_average                  133506 non-null  float64
 11  vote_count                    133506 non-null  int64
 12  genre_ids                     133506 non-null  object
 13  genre_names                   133506 non-null  object
 14  production_companies_ids      133506 non-null  object
 15  production_companies_nombres  133506 non-null  object
 16  iso_codes                     133506 non-null  object
 17  country_names                 133506 non-null  object
 18  iso_language_codes            133506 non-null  object
 19  language_names                133506 non-null  object
 20  release_year                  133506 non-null  int64
 21  return                        133506 non-null  float64
 22  collection_name               133506 non-null  object
 23  directors_id                  133506 non-null  object
 24  directors_names               133506 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(15)
memory usage: 26.5+ MB

### Dataset complementario: iso_language_data
#### Fuente: https://datahub.io/core/language-codes

In [8]:

# URL del enlace de descarga del archivo CSV
url = "https://datahub.io/core/language-codes/r/language-codes.csv"

try:
    # Cargar el archivo CSV desde el enlace de descarga
    iso_language_data = pd.read_csv(url)

    # Ahora tienes el contenido del archivo CSV en un DataFrame llamado 'df'
    # Puedes realizar operaciones o análisis con el DataFrame como desees.
    print(iso_language_data.head())  # Imprimir las primeras filas del DataFrame

except Exception as e:
    print("Error al cargar el archivo CSV desde el enlace:", e)

  alpha2    English
0     aa       Afar
1     ab  Abkhazian
2     ae    Avestan
3     af  Afrikaans
4     ak       Akan

In [9]:
iso_language_data.rename(columns={'alpha2': 'iso_language_code', 'English': 'language_name'}, inplace=True)

In [10]:
iso_language_data

    iso_language_code   language_name
0                  aa            Afar
1                  ab       Abkhazian
2                  ae         Avestan
3                  af       Afrikaans
4                  ak            Akan
..                ...             ...
179                yi         Yiddish
180                yo          Yoruba
181                za  Zhuang; Chuang
182                zh         Chinese
183                zu            Zulu

[184 rows x 2 columns]

### + def **peliculas_idioma( *`Idioma`: str* )**:
    Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` cantidad de películas fueron estrenadas en `idioma`*

#### Algunos procedimientos antes de ETL para dejar listo dataframe para consultas de la F1

In [11]:
df_movies.head(2)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,...,genre_names,production_companies_ids,production_companies_nombres,iso_codes,country_names,iso_language_codes,language_names,release_year,return,collection_name
0,30000000.0,862,en,"led by woody, andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81,released,toy story,...,"['animation', 'comedy', 'family']",[3],['pixar animation studios'],['us'],['united states of america'],['en'],['english'],1995,12.451801,toy story collection
1,65000000.0,8844,en,when siblings judy and peter discover an encha...,17.015539,1995-12-15,262797249,104,released,jumanji,...,"['adventure', 'fantasy', 'family']","[559, 2550, 10201]","['tristar pictures', 'teitler film', 'intersco...",['us'],['united states of america'],"['en', 'fr']","['english', 'français']",1995,4.043035,not part of a collection

In [12]:
df_languages = df_movies.loc[:, ['iso_language_codes']]

In [13]:
df_languages.head(10)

   iso_language_codes
0              ['en']
1        ['en', 'fr']
2              ['en']
3              ['en']
4              ['en']
5        ['en', 'es']
6        ['fr', 'en']
7        ['en', 'de']
8              ['en']
9  ['en', 'ru', 'es']

In [14]:
df_languages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136398 entries, 0 to 136397
Data columns (total 1 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iso_language_codes  136398 non-null  object
dtypes: object(1)
memory usage: 1.0+ MB

In [15]:
import pandas as pd

# Suponiendo que ya tienes el DataFrame df_movies con la columna 'iso_language_codes'

# Convertir los valores en la columna 'iso_language_codes' a listas
df_movies['iso_language_codes'] = df_movies['iso_language_codes'].apply(eval)

# Contar la cantidad de veces que aparece cada idioma
language_counts = df_movies['iso_language_codes'].explode().value_counts()

# Convertir el conteo en un nuevo DataFrame
df_language_counts = pd.DataFrame({'iso_language_code': language_counts.index, 'count': language_counts.values})

print(df_language_counts)

    iso_language_code  count
0                  en  86235
1                  fr  12588
2                  de   7875
3                  es   7239
4                  it   7101
..                ...    ...
128                ht      3
129                to      3
130                ty      3
131                kw      3
132                mh      3

[133 rows x 2 columns]

In [16]:
df_language_counts

    iso_language_code  count
0                  en  86235
1                  fr  12588
2                  de   7875
3                  es   7239
4                  it   7101
..                ...    ...
128                ht      3
129                to      3
130                ty      3
131                kw      3
132                mh      3

[133 rows x 2 columns]

#### Merge dataset complementario so idiomas

In [17]:
df_f1_lang_movie_count = pd.merge(df_language_counts, iso_language_data , on='iso_language_code', how='left')

In [18]:
df_f1_lang_movie_count

    iso_language_code  count            language_name
0                  en  86235                  English
1                  fr  12588                   French
2                  de   7875                   German
3                  es   7239       Spanish; Castilian
4                  it   7101                  Italian
..                ...    ...                      ...
128                ht      3  Haitian; Haitian Creole
129                to      3    Tonga (Tonga Islands)
130                ty      3                 Tahitian
131                kw      3                  Cornish
132                mh      3              Marshallese

[133 rows x 3 columns]

#### Guardo dataframe:

In [19]:
df_f1_lang_movie_count.to_pickle('../../Datasets Cleaned & light/df_f1_lang_movie_count.pkl')

#### Funcion 1:

In [20]:
def print_language_count(language_name):
    # Filtrar el DataFrame para obtener las filas que corresponden al language_name proporcionado
    filtered_df = df_f1_lang_movie_count[df_f1_lang_movie_count['language_name'] == language_name]
    
    if not filtered_df.empty:
        # Obtener los valores del iso_language_code y el conteo
        iso_language_code = filtered_df['iso_language_code'].values[0]
        count = filtered_df['count'].values[0]
        
        # Imprimir los resultados
        print(f"Nombre del lenguaje: {language_name}")
        print(f"ISO Language Code: {iso_language_code}")
        print(f"Movies count: {count}")
    else:
        print(f"No se encontró el lenguaje: {language_name}")

# Ejemplo de uso
language_name_to_find = "English"
print_language_count(language_name_to_find)

Nombre del lenguaje: English
ISO Language Code: en
Movies count: 86235

__________________________________________________________

### + def **peliculas_duracion( *`Pelicula`: str* )**:
    Se ingresa una pelicula. Debe devolver la duracion y el año.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *`X` . Duración: `x`. Año: `xx`*

#### df_movies calling..

In [21]:
df_runtime = df_movies[['title','runtime']]

In [22]:
df_runtime = df_runtime.drop_duplicates()

In [23]:
df_runtime

                                         title  runtime
0                                    toy story       81
1                                      jumanji      104
2                             grumpier old men      101
3                            waiting to exhale      127
4                  father of the bride part ii      106
...                                        ...      ...
135990                                    true       10
136242                 między nami dobrze jest        0
136244  włatcy móch. ćmoki, czopki i mondzioły       94
136311                               іван сила       80
136365                 šíleně smutná princezna       73

[45441 rows x 2 columns]

#### Guardo dataframe:

In [24]:
df_runtime.to_pickle('../../Datasets Cleaned & light/df_f2_movies_runtime.pkl')

#### Funcion 2:

In [25]:

def print_movie_runtime(movie_name):
    # Filtrar el DataFrame para obtener la fila que corresponde al nombre de la película proporcionado
    filtered_df = df_runtime[df_runtime['title'] == movie_name]
    
    if not filtered_df.empty:
        # Obtener el valor del runtime
        runtime = filtered_df['runtime'].values[0]
        
        # Imprimir el resultado
        print(f"Nombre de la película: {movie_name}")
        print(f"Runtime: {runtime} minutos")
    else:
        print(f"No se encontró la película: {movie_name}")

# Ejemplo de uso
movie_name_to_find = "jumanji"
print_movie_runtime(movie_name_to_find)

Nombre de la película: jumanji
Runtime: 104 minutos

__________________________________________________

### + def **franquicia( *`Franquicia`: str* )**:
    Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La franquicia `X` posee `X` peliculas, una ganancia total de `x` y una ganancia promedio de `xx`*

#### Masking and making new df_f3:

In [26]:
df_f3_collection_name_returns = df_movies[['collection_name','id','title','return']]

In [27]:
# Agrupar por 'collection_name'
df_f3_collection_name_returns = df_f3_collection_name_returns.groupby('collection_name').agg({
    'id': list,
    'title': list,
    'return': ['sum', 'mean']
}).reset_index()

# Renombrar las columnas del DataFrame resultante
df_f3_collection_name_returns.columns = ['collection_name', 'id_list', 'title_list', 'return_sum', 'return_mean']

df_f3_collection_name_returns.head()

,collection_name,id_list,title_list,return_sum,return_mean
0,... has fallen collection,"[117263, 267860, 117263, 267860, 117263, 267860]","[olympus has fallen, london has fallen, olympu...",17.188821,2.864804
1,00 schneider filmreihe,"[1652, 1652, 1652]","[00 schneider - jagd auf nihil baxter, 00 schn...",7.960094,2.653365
2,08/15 collection,"[19430, 19430, 19430]","[08/15, 08/15, 08/15]",7.960094,2.653365
3,100 girls collection,"[10035, 20648, 10035, 20648, 10035, 20648]","[100 girls, 100 women, 100 girls, 100 women, 1...",15.920189,2.653365
4,101 dalmatians (animated) collection,"[12230, 13654, 12230, 13654, 12230, 13654]","[one hundred and one dalmatians, 101 dalmatian...",169.870105,28.311684

#### Guardo Dataframe:

In [28]:
df_f3_collection_name_returns.to_pickle('../../Datasets Cleaned & light/df_f3_collection_name_returns.pkl')

#### Funcion 3:

In [29]:
def franquicia(collection_name: str):
    # Filtrar los datos en función del valor de la columna 'collection_name'
    df_return = df_f3_collection_name_returns[df_f3_collection_name_returns['collection_name'] == collection_name]

    # Verificar si la colección fue encontrada
    if df_return.empty:
        print(f"No se encontró la colección '{collection_name}' en el dataframe.")
        return

    # Calcular la cantidad de películas
    cantidad_peliculas = df_return['id_list'].apply(len).sum()

    # Calcular la ganancia total
    ganancia_total = df_return['return_sum'].sum()

    # Calcular la ganancia promedio
    ganancia_promedio = df_return['return_mean'].mean()

    # Imprimir el resultado
    print(f"La franquicia {collection_name} posee {cantidad_peliculas} películas, una ganancia total de {ganancia_total:.2f} y una ganancia promedio de {ganancia_promedio:.2f}, aproximadamente...")

# Ejemplo de uso de la función con el dataframe proporcionado
franquicia('00 schneider filmreihe')

La franquicia 00 schneider filmreihe posee 3 películas, una ganancia total de 7.96 y una ganancia promedio de 2.65, aproximadamente...

### + def **peliculas_pais( *`Pais`: str* )**:
    Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

#### creodataset para df_f4_production_countrys

In [30]:
df_f4_production_countrys = df_movies['country_names']

In [31]:
df_f4_production_countrys.head()

0    ['united states of america']
1    ['united states of america']
2    ['united states of america']
3    ['united states of america']
4    ['united states of america']
Name: country_names, dtype: object

#### Guardo df_f4_production_countrys:

In [32]:
df_f4_production_countrys.to_pickle('../../Datasets Cleaned & light/df_f4_production_countrys.pkl')

#### Funcion 4:

In [33]:
def peliculas_pais(Pais: str) -> int:

    # Contar las películas producidas en el país proporcionado (teniendo en cuenta las listas de valores)
    cantidad_peliculas = df_movies['country_names'].apply(lambda x: Pais.lower() in x).sum()
    
    return cantidad_peliculas

# Ejemplo de uso:
pais_ingresado = 'Argentina' 
cantidad_peliculas = peliculas_pais(pais_ingresado)
print(f"Se han producido {cantidad_peliculas} películas en {pais_ingresado}.")

Se han producido 762 películas en Argentina.

### + def **productoras_exitosas( *`Productora`: str* )**:
    Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo. 
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo de retorno: *La productora `X` ha tenido un revenue de `x`*

#### DATASET:

In [34]:
pd.set_option('display.max_columns', None)

In [35]:
df_movies.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,genre_ids,genre_names,production_companies_ids,production_companies_nombres,iso_codes,country_names,iso_language_codes,language_names,release_year,return,collection_name
0,3.000000e+07,862,en,"led by woody, andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81,released,toy story,7.7,5415,"[16, 35, 10751]","['animation', 'comedy', 'family']",[3],['pixar animation studios'],['us'],['united states of america'],[en],['english'],1995,12.451801,toy story collection
1,6.500000e+07,8844,en,when siblings judy and peter discover an encha...,17.015539,1995-12-15,262797249,104,released,jumanji,6.9,2413,"[12, 14, 10751]","['adventure', 'fantasy', 'family']","[559, 2550, 10201]","['tristar pictures', 'teitler film', 'intersco...",['us'],['united states of america'],"[en, fr]","['english', 'français']",1995,4.043035,not part of a collection
2,4.224579e+06,15602,en,a family wedding reignites the ancient feud be...,11.712900,1995-12-22,11209348,101,released,grumpier old men,6.5,92,"[10749, 35]","['romance', 'comedy']","[6194, 19464]","['warner bros.', 'lancaster gate']",['us'],['united states of america'],[en],['english'],1995,2.653365,grumpy old men collection

In [36]:

df_f5_production_companies_return = df_movies[['production_companies_ids','production_companies_nombres','id','title','budget','revenue','return']]

In [37]:
df_f5_production_companies_return

,production_companies_ids,production_companies_nombres,id,title,budget,revenue,return
0,[3],['pixar animation studios'],862,toy story,3.000000e+07,373554033,12.451801
1,"[559, 2550, 10201]","['tristar pictures', 'teitler film', 'intersco...",8844,jumanji,6.500000e+07,262797249,4.043035
2,"[6194, 19464]","['warner bros.', 'lancaster gate']",15602,grumpier old men,4.224579e+06,11209348,2.653365
3,[306],['twentieth century fox film corporation'],31357,waiting to exhale,1.600000e+07,81452156,5.090760
4,"[5842, 9195]","['sandollar productions', 'touchstone pictures']",11862,father of the bride part ii,4.224579e+06,76578911,18.126993
...,...,...,...,...,...,...,...
136393,[],[],439050,subdue,4.224579e+06,11209348,2.653365
136394,[19653],['sine olivia'],111109,century of birthing,4.224579e+06,11209348,2.653365
136395,[6165],['american world pictures'],67758,betrayal,4.224579e+06,11209348,2.653365
136396,[88753],['yermoliev'],227506,satan triumphant,4.224579e+06,11209348,2.653365
136397,[],[],461257,queerama,4.224579e+06,11209348,2.653365

In [38]:
df_f5_production_companies_return.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136398 entries, 0 to 136397
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   production_companies_ids      136398 non-null  object
 1   production_companies_nombres  136398 non-null  object
 2   id                            136398 non-null  int64
 3   title                         136398 non-null  object
 4   budget                        136389 non-null  float64
 5   revenue                       136398 non-null  int64
 6   return                        136398 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 7.3+ MB

In [39]:
import ast

In [40]:

# Aplicar literal_eval a la columna 'production_companies_nombres'
df_f5_production_companies_return.loc[:,'production_companies_nombres']= df_f5_production_companies_return['production_companies_nombres'].apply(ast.literal_eval)

In [41]:
df_f5_production_companies_return

,production_companies_ids,production_companies_nombres,id,title,budget,revenue,return
0,[3],[pixar animation studios],862,toy story,3.000000e+07,373554033,12.451801
1,"[559, 2550, 10201]","[tristar pictures, teitler film, interscope co...",8844,jumanji,6.500000e+07,262797249,4.043035
2,"[6194, 19464]","[warner bros., lancaster gate]",15602,grumpier old men,4.224579e+06,11209348,2.653365
3,[306],[twentieth century fox film corporation],31357,waiting to exhale,1.600000e+07,81452156,5.090760
4,"[5842, 9195]","[sandollar productions, touchstone pictures]",11862,father of the bride part ii,4.224579e+06,76578911,18.126993
...,...,...,...,...,...,...,...
136393,[],[],439050,subdue,4.224579e+06,11209348,2.653365
136394,[19653],[sine olivia],111109,century of birthing,4.224579e+06,11209348,2.653365
136395,[6165],[american world pictures],67758,betrayal,4.224579e+06,11209348,2.653365
136396,[88753],[yermoliev],227506,satan triumphant,4.224579e+06,11209348,2.653365
136397,[],[],461257,queerama,4.224579e+06,11209348,2.653365

In [42]:
# Calculate the number of production companies in each row
df_f5_production_companies_return.loc[:,'participation_prod_comp'] = df_f5_production_companies_return['production_companies_nombres'].apply(len)

# Divide the last three columns by the number of production companies and use .loc for assignment
df_f5_production_companies_return.loc[:, 'budget_per_company'] = df_f5_production_companies_return['budget'] / df_f5_production_companies_return['participation_prod_comp']
df_f5_production_companies_return.loc[:, 'revenue_per_company'] = df_f5_production_companies_return['revenue'] / df_f5_production_companies_return['participation_prod_comp']
df_f5_production_companies_return.loc[:, 'return_per_company'] = df_f5_production_companies_return['return'] / df_f5_production_companies_return['participation_prod_comp']

C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\3104983078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f5_production_companies_return.loc[:,'participation_prod_comp'] = df_f5_production_companies_return['production_companies_nombres'].apply(len)
C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\3104983078.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f5_production_companies_return.loc[:, 'budget_per_company'] = df_f5_production_companies_return['budget'] / df_f5_production_companies_return['participation_prod_comp']
C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\3104983078.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f5_production_companies_return.loc[:, 'revenue_per_company'] = df_f5_production_companies_return['revenue'] / df_f5_production_companies_return['participation_prod_comp']
C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\3104983078.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f5_production_companies_return.loc[:, 'return_per_company'] = df_f5_production_companies_return['return'] / df_f5_production_companies_return['participation_prod_comp']

In [43]:

# Explode de la columna de compañías de producción
df_f5_production_companies_return = df_f5_production_companies_return.explode("production_companies_nombres", ignore_index=True)

# Replazar el índice para mostrar solo los campos relevantes
df_f5_production_companies_return.reset_index(drop=True, inplace=True)

In [44]:
df_f5_production_companies_return.loc[:,'participation_prod_comp'] = df_f5_production_companies_return['participation_prod_comp'].fillna(1)

In [45]:
df_f5_production_companies_return.head(10)

,production_companies_ids,production_companies_nombres,id,title,budget,revenue,return,participation_prod_comp,budget_per_company,revenue_per_company,return_per_company
0,[3],pixar animation studios,862,toy story,3.000000e+07,373554033,12.451801,1,3.000000e+07,3.735540e+08,12.451801
1,"[559, 2550, 10201]",tristar pictures,8844,jumanji,6.500000e+07,262797249,4.043035,3,2.166667e+07,8.759908e+07,1.347678
2,"[559, 2550, 10201]",teitler film,8844,jumanji,6.500000e+07,262797249,4.043035,3,2.166667e+07,8.759908e+07,1.347678
3,"[559, 2550, 10201]",interscope communications,8844,jumanji,6.500000e+07,262797249,4.043035,3,2.166667e+07,8.759908e+07,1.347678
4,"[6194, 19464]",warner bros.,15602,grumpier old men,4.224579e+06,11209348,2.653365,2,2.112289e+06,5.604674e+06,1.326682
5,"[6194, 19464]",lancaster gate,15602,grumpier old men,4.224579e+06,11209348,2.653365,2,2.112289e+06,5.604674e+06,1.326682
6,[306],twentieth century fox film corporation,31357,waiting to exhale,1.600000e+07,81452156,5.090760,1,1.600000e+07,8.145216e+07,5.090760
7,"[5842, 9195]",sandollar productions,11862,father of the bride part ii,4.224579e+06,76578911,18.126993,2,2.112289e+06,3.828946e+07,9.063497
8,"[5842, 9195]",touchstone pictures,11862,father of the bride part ii,4.224579e+06,76578911,18.126993,2,2.112289e+06,3.828946e+07,9.063497
9,"[508, 675, 6194]",regency enterprises,949,heat,6.000000e+07,187436818,3.123947,3,2.000000e+07,6.247894e+07,1.041316

In [46]:

df_f5_production_companies_return = df_f5_production_companies_return.groupby('production_companies_nombres', as_index=False).agg({
    'budget_per_company': 'sum',
    'revenue_per_company': 'sum',
    'return_per_company': 'sum',
    'id': 'count'
})

In [47]:
# Assuming df_f5_production_companies_return is your DataFrame
df_f5_production_companies_return.rename(columns={'id': 'count_movies'}, inplace=True)

In [48]:
df_f5_production_companies_return

,production_companies_nombres,budget_per_company,revenue_per_company,return_per_company,count_movies
0,"""dia"" productions gmbh & co. kg",2.700000e+07,33263194.5,0.923978,3
1,# andrea sperling productions,3.750000e+06,16814022.0,6.725609,3
2,# lexyn productions,4.224579e+06,11209348.0,2.653365,3
3,'a' production committee,1.267374e+07,33628044.0,7.960094,3
4,(?)?????,1.000000e+07,22418696.0,4.483739,2
...,...,...,...,...,...
23525,영화사 집,4.224579e+06,11209348.0,2.653365,1
23526,이디오플랜,4.224579e+06,11209348.0,2.653365,1
23527,인벤트 디,4.224579e+06,11209348.0,2.653365,1
23528,타임스토리그룹,2.112289e+06,5604674.0,1.326682,1
23529,프로덕션m,4.224579e+06,11209348.0,2.653365,1

#### Guardo pickle df_f5_production_companies_return:

In [49]:
df_f5_production_companies_return.to_pickle('../../Datasets Cleaned & light/df_f5_production_companies_return.pkl')

#### Funcion 5:

In [50]:
import pandas as pd

def productoras_exitosas(productora: str):

    # Filtrar el dataframe para obtener los datos de la productora deseada
    productora_data = df_f5_production_companies_return[df_f5_production_companies_return['production_companies_nombres'].str.contains(productora, case=False, na=False)]

    # Verificar si la productora existe en el dataframe
    if productora_data.empty:
        return f"La productora '{productora}' no fue encontrada en el dataframe."

    # Calcular el revenue total de la productora
    revenue_total = productora_data['return_per_company'].sum()
    cant_movies = productora_data['count_movies'].sum()
    return f"La productora '{productora}' ha tenido un return de {round(revenue_total, 2)} aproximadamente, es decir, que ha multiplicado sus budget_totales unas {round(revenue_total, 0)} veces haciendo peliculas y ha realizado {cant_movies} peliculas..."

# Ejemplo de uso:
productora_buscada = "pixar"
resultados_productora = productoras_exitosas(productora_buscada)
print(resultados_productora)

La productora 'pixar' ha tenido un return de 404.96 aproximadamente, es decir, que ha multiplicado sus budget_totales unas 405.0 veces haciendo peliculas y ha realizado 156 peliculas...

### + def **get_director( *`nombre_director`* )**:
    Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

#### Preparacion del dataframe 6 df_f6_get_director:

In [51]:

# Seleccionar las columnas 'director_id', 'directors_names' y 'movie_id'
df_f6_get_director = df_movies_directors[['directors_id', 'directors_names', 'movie_id','title','release_date','budget','revenue','return']]

In [52]:
df_f6_get_director.head()

,directors_id,directors_names,movie_id,title,release_date,budget,revenue,return
0,[7879],[John Lasseter],862,toy story,1995-10-30,3.000000e+07,373554033,12.451801
1,[4945],[Joe Johnston],8844,jumanji,1995-12-15,6.500000e+07,262797249,4.043035
2,[26502],[Howard Deutch],15602,grumpier old men,1995-12-22,4.224579e+06,11209348,2.653365
3,[2178],[Forest Whitaker],31357,waiting to exhale,1995-12-22,1.600000e+07,81452156,5.090760
4,[56106],[Charles Shyer],11862,father of the bride part ii,1995-02-10,4.224579e+06,76578911,18.126993

In [53]:
# Convert the 'directors_names' column to string
df_f6_get_director['directors_names'] = df_f6_get_director['directors_names'].astype(str)

C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\2237944773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f6_get_director['directors_names'] = df_f6_get_director['directors_names'].astype(str)

In [54]:

# Aplicar literal_eval a la columna 'production_companies_nombres'
df_f6_get_director.loc[:,'directors_names']= df_f6_get_director['directors_names'].apply(ast.literal_eval)

In [55]:
df_f6_get_director.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133506 entries, 0 to 136197
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   directors_id     133506 non-null  object
 1   directors_names  133506 non-null  object
 2   movie_id         133506 non-null  int64
 3   title            133506 non-null  object
 4   release_date     133506 non-null  datetime64[ns]
 5   budget           133506 non-null  float64
 6   revenue          133506 non-null  int64
 7   return           133506 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 9.2+ MB

In [56]:
df_f6_get_director.loc[:, 'participations'] = df_f6_get_director['directors_names'].apply(len)

C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\4036964803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f6_get_director.loc[:, 'participations'] = df_f6_get_director['directors_names'].apply(len)

In [57]:
df_f6_get_director.head(2)

,directors_id,directors_names,movie_id,title,release_date,budget,revenue,return,participations
0,[7879],[John Lasseter],862,toy story,1995-10-30,30000000.0,373554033,12.451801,1
1,[4945],[Joe Johnston],8844,jumanji,1995-12-15,65000000.0,262797249,4.043035,1

In [58]:
df_f6_get_director.loc[:,'participations'] = df_f6_get_director['participations'].fillna(1)

In [59]:

df_f6_get_director.loc[:,'director_budget'] = df_f6_get_director['budget'] /df_f6_get_director['participations']
df_f6_get_director.loc[:,'director_revenue'] = df_f6_get_director['revenue'] /df_f6_get_director['participations']
df_f6_get_director.loc[:,'director_return'] = df_f6_get_director['return'] /df_f6_get_director['participations']

C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\998896168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f6_get_director.loc[:,'director_budget'] = df_f6_get_director['budget'] /df_f6_get_director['participations']
C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\998896168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f6_get_director.loc[:,'director_revenue'] = df_f6_get_director['revenue'] /df_f6_get_director['participations']
C:\Users\Luca\AppData\Local\Temp\ipykernel_28996\998896168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f6_get_director.loc[:,'director_return'] = df_f6_get_director['return'] /df_f6_get_director['participations']

In [60]:
df_f6_get_director.head(20)

,directors_id,directors_names,movie_id,title,release_date,budget,revenue,return,participations,director_budget,director_revenue,director_return
0,[7879],[John Lasseter],862,toy story,1995-10-30,3.000000e+07,373554033,12.451801,1,3.000000e+07,373554033.0,12.451801
1,[4945],[Joe Johnston],8844,jumanji,1995-12-15,6.500000e+07,262797249,4.043035,1,6.500000e+07,262797249.0,4.043035
2,[26502],[Howard Deutch],15602,grumpier old men,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
3,[2178],[Forest Whitaker],31357,waiting to exhale,1995-12-22,1.600000e+07,81452156,5.090760,1,1.600000e+07,81452156.0,5.090760
4,[56106],[Charles Shyer],11862,father of the bride part ii,1995-02-10,4.224579e+06,76578911,18.126993,1,4.224579e+06,76578911.0,18.126993
5,[638],[Michael Mann],949,heat,1995-12-15,6.000000e+07,187436818,3.123947,1,6.000000e+07,187436818.0,3.123947
6,[2226],[Sydney Pollack],11860,sabrina,1995-12-15,5.800000e+07,11209348,0.193265,1,5.800000e+07,11209348.0,0.193265
7,[18357],[Peter Hewitt],45325,tom and huck,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
8,[37710],[Peter Hyams],9091,sudden death,1995-12-22,3.500000e+07,64350171,1.838576,1,3.500000e+07,64350171.0,1.838576
9,[10702],[Martin Campbell],710,goldeneye,1995-11-16,5.800000e+07,352194034,6.072311,1,5.800000e+07,352194034.0,6.072311
10,[3026],[Rob Reiner],9087,the american president,1995-11-17,6.200000e+07,107879496,1.739992,1,6.200000e+07,107879496.0,1.739992
11,[14639],[Mel Brooks],12110,dracula: dead and loving it,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
12,[21879],[Simon Wells],21032,balto,1995-12-22,4.224579e+06,11348324,2.686262,1,4.224579e+06,11348324.0,2.686262
13,[1152],[Oliver Stone],10858,nixon,1995-12-22,4.400000e+07,13681765,0.310949,1,4.400000e+07,13681765.0,0.310949
14,[16938],[Renny Harlin],1408,cutthroat island,1995-12-22,9.800000e+07,10017322,0.102218,1,9.800000e+07,10017322.0,0.102218
15,[1032],[Martin Scorsese],524,casino,1995-11-22,5.200000e+07,116112375,2.232930,1,5.200000e+07,116112375.0,2.232930
16,[1614],[Ang Lee],4584,sense and sensibility,1995-12-13,1.650000e+07,135000000,8.181818,1,1.650000e+07,135000000.0,8.181818
17,"[3110, 3111, 2294, 138]","[Allison Anders, Alexandre Rockwell, Robert Ro...",5,four rooms,1995-12-09,4.000000e+06,4300000,1.075000,4,1.000000e+06,1075000.0,0.268750
18,[4489],[Steve Oedekerk],9273,ace ventura: when nature calls,1995-11-10,3.000000e+07,212385533,7.079518,1,3.000000e+07,212385533.0,7.079518
19,[52629],[Joseph Ruben],11517,money train,1995-11-21,6.000000e+07,35431113,0.590519,1,6.000000e+07,35431113.0,0.590519

In [61]:

# Explode de la columna de compañías de producción
df_f6_get_director = df_f6_get_director.explode("directors_names", ignore_index=True)

# Replazar el índice para mostrar solo los campos relevantes
df_f6_get_director.reset_index(drop=True, inplace=True)

In [62]:
df_f6_get_director.head(30)

,directors_id,directors_names,movie_id,title,release_date,budget,revenue,return,participations,director_budget,director_revenue,director_return
0,[7879],John Lasseter,862,toy story,1995-10-30,3.000000e+07,373554033,12.451801,1,3.000000e+07,373554033.0,12.451801
1,[4945],Joe Johnston,8844,jumanji,1995-12-15,6.500000e+07,262797249,4.043035,1,6.500000e+07,262797249.0,4.043035
2,[26502],Howard Deutch,15602,grumpier old men,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
3,[2178],Forest Whitaker,31357,waiting to exhale,1995-12-22,1.600000e+07,81452156,5.090760,1,1.600000e+07,81452156.0,5.090760
4,[56106],Charles Shyer,11862,father of the bride part ii,1995-02-10,4.224579e+06,76578911,18.126993,1,4.224579e+06,76578911.0,18.126993
5,[638],Michael Mann,949,heat,1995-12-15,6.000000e+07,187436818,3.123947,1,6.000000e+07,187436818.0,3.123947
6,[2226],Sydney Pollack,11860,sabrina,1995-12-15,5.800000e+07,11209348,0.193265,1,5.800000e+07,11209348.0,0.193265
7,[18357],Peter Hewitt,45325,tom and huck,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
8,[37710],Peter Hyams,9091,sudden death,1995-12-22,3.500000e+07,64350171,1.838576,1,3.500000e+07,64350171.0,1.838576
9,[10702],Martin Campbell,710,goldeneye,1995-11-16,5.800000e+07,352194034,6.072311,1,5.800000e+07,352194034.0,6.072311
10,[3026],Rob Reiner,9087,the american president,1995-11-17,6.200000e+07,107879496,1.739992,1,6.200000e+07,107879496.0,1.739992
11,[14639],Mel Brooks,12110,dracula: dead and loving it,1995-12-22,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
12,[21879],Simon Wells,21032,balto,1995-12-22,4.224579e+06,11348324,2.686262,1,4.224579e+06,11348324.0,2.686262
13,[1152],Oliver Stone,10858,nixon,1995-12-22,4.400000e+07,13681765,0.310949,1,4.400000e+07,13681765.0,0.310949
14,[16938],Renny Harlin,1408,cutthroat island,1995-12-22,9.800000e+07,10017322,0.102218,1,9.800000e+07,10017322.0,0.102218
15,[1032],Martin Scorsese,524,casino,1995-11-22,5.200000e+07,116112375,2.232930,1,5.200000e+07,116112375.0,2.232930
16,[1614],Ang Lee,4584,sense and sensibility,1995-12-13,1.650000e+07,135000000,8.181818,1,1.650000e+07,135000000.0,8.181818
17,"[3110, 3111, 2294, 138]",Allison Anders,5,four rooms,1995-12-09,4.000000e+06,4300000,1.075000,4,1.000000e+06,1075000.0,0.268750
18,"[3110, 3111, 2294, 138]",Alexandre Rockwell,5,four rooms,1995-12-09,4.000000e+06,4300000,1.075000,4,1.000000e+06,1075000.0,0.268750
19,"[3110, 3111, 2294, 138]",Robert Rodriguez,5,four rooms,1995-12-09,4.000000e+06,4300000,1.075000,4,1.000000e+06,1075000.0,0.268750
20,"[3110, 3111, 2294, 138]",Quentin Tarantino,5,four rooms,1995-12-09,4.000000e+06,4300000,1.075000,4,1.000000e+06,1075000.0,0.268750
21,[4489],Steve Oedekerk,9273,ace ventura: when nature calls,1995-11-10,3.000000e+07,212385533,7.079518,1,3.000000e+07,212385533.0,7.079518
22,[52629],Joseph Ruben,11517,money train,1995-11-21,6.000000e+07,35431113,0.590519,1,6.000000e+07,35431113.0,0.590519
23,[5174],Barry Sonnenfeld,8012,get shorty,1995-10-20,3.025000e+07,115101622,3.805012,1,3.025000e+07,115101622.0,3.805012
24,[15148],Jon Amiel,1710,copycat,1995-10-27,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
25,[7187],Richard Donner,9691,assassins,1995-10-06,5.000000e+07,30303072,0.606061,1,5.000000e+07,30303072.0,0.606061
26,[56349],Victor Salva,12665,powder,1995-10-27,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
27,[6111],Mike Figgis,451,leaving las vegas,1995-10-27,3.600000e+06,49800000,13.833333,1,3.600000e+06,49800000.0,13.833333
28,[56710],Oliver Parker,16420,othello,1995-12-15,4.224579e+06,11209348,2.653365,1,4.224579e+06,11209348.0,2.653365
29,[15798],Lesli Linka Glatter,9263,now and then,1995-10-20,1.200000e+07,27400000,2.283333,1,1.200000e+07,27400000.0,2.283333

In [63]:
# Eliminar la primera columna ('directors_id') del DataFrame
df_f6_get_director = df_f6_get_director.drop(columns=['directors_id'])

In [64]:
# Agrupar por 'directors_names' y obtener la suma de las últimas tres columnas (budget, revenue, return)
df_f6_get_director = df_f6_get_director.groupby('directors_names').agg({
    'director_budget': 'sum',
    'director_revenue': 'sum',
    'director_return': 'sum',
    'title': list,
    'release_date': list,
    'budget': 'sum',
    'revenue': 'sum',
    'return': 'sum'
}).reset_index()

In [65]:
df_f6_get_director

,directors_names,director_budget,director_revenue,director_return,title,release_date,budget,revenue,return
0,Dale Trevillion\t,4.117374e+07,67256088.0,11.499889,"[walkout, the three stooges, walkout, the thre...","[2006-03-18 00:00:00, 2000-04-24 00:00:00, 200...",4.117374e+07,67256088,11.499889
1,Davide Manuli,1.267374e+07,33628044.0,7.960094,[which way is the front line from here? the li...,"[2013-01-20 00:00:00, 2013-01-20 00:00:00, 201...",1.267374e+07,33628044,7.960094
2,E.W. Swackhamer,1.267374e+07,33628044.0,7.960094,"[eastern boys, eastern boys, eastern boys]","[2013-04-02 00:00:00, 2013-04-02 00:00:00, 201...",1.267374e+07,33628044,7.960094
3,Vitaliy Vorobyov,1.267374e+07,33628044.0,7.960094,"[fb: fighting beat, fb: fighting beat, fb: fig...","[2007-01-01 00:00:00, 2007-01-01 00:00:00, 200...",1.267374e+07,33628044,7.960094
4,Yeon Sang-Ho,5.069495e+07,134512176.0,31.840377,"[embracing, the three men of melita zganjer, t...","[1992-01-01 00:00:00, 1998-01-01 00:00:00, 201...",5.069495e+07,134512176,31.840377
...,...,...,...,...,...,...,...,...,...
19706,پیمان معادی,1.267374e+07,33628044.0,7.960094,"[the tale of zatôichi continues, the tale of z...","[1962-10-12 00:00:00, 1962-10-12 00:00:00, 196...",1.267374e+07,33628044,7.960094
19707,塩谷 直義,1.267374e+07,33628044.0,7.960094,"[the green inferno, the green inferno, the gre...","[1988-05-01 00:00:00, 1988-05-01 00:00:00, 198...",1.267374e+07,33628044,7.960094
19708,张立 | Zhang Li,6.336868e+06,16814022.0,3.980047,"[blood tide, blood tide, blood tide]","[1982-09-01 00:00:00, 1982-09-01 00:00:00, 198...",1.267374e+07,33628044,7.960094
19709,杰森·莫玛,1.267374e+07,33628044.0,7.960094,"[scanner cop, scanner cop, scanner cop]","[1994-07-27 00:00:00, 1994-07-27 00:00:00, 199...",1.267374e+07,33628044,7.960094
19710,진모영,1.267374e+07,33628044.0,7.960094,"[the driftless area, the driftless area, the d...","[2015-04-18 00:00:00, 2015-04-18 00:00:00, 201...",1.267374e+07,33628044,7.960094

In [66]:
# Obtener la cuenta de valores únicos en la columna 'mi_columna'
conteo_valores = df_f6_get_director['directors_names'].value_counts()

# Imprimir el conteo de valores únicos
print(conteo_valores)

# Verificar si algún valor se repite más de una vez
valores_repetidos = conteo_valores[conteo_valores > 1]

if not valores_repetidos.empty:
    print("Hay valores que se repiten más de una vez:")
    print(valores_repetidos)
else:
    print("No hay valores que se repitan más de una vez.")

directors_names
 Dale Trevillion\t     1
Milčo Mančevski        1
Min Kyu-dong           1
Min Joon-ki            1
Min Byung-chun         1
                      ..
Gregg Hale             1
Gregg Godfrey          1
Gregg Champion         1
Gregg C. Tallas        1
진모영                    1
Name: count, Length: 19711, dtype: int64
No hay valores que se repitan más de una vez.

#### Guardo dataframe df_f6_get_director

In [67]:
df_f6_get_director.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19711 entries, 0 to 19710
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   directors_names   19711 non-null  object
 1   director_budget   19711 non-null  float64
 2   director_revenue  19711 non-null  float64
 3   director_return   19711 non-null  float64
 4   title             19711 non-null  object
 5   release_date      19711 non-null  object
 6   budget            19711 non-null  float64
 7   revenue           19711 non-null  int64
 8   return            19711 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.4+ MB

In [68]:
df_f6_get_director.head(3)

,directors_names,director_budget,director_revenue,director_return,title,release_date,budget,revenue,return
0,Dale Trevillion\t,4.117374e+07,67256088.0,11.499889,"[walkout, the three stooges, walkout, the thre...","[2006-03-18 00:00:00, 2000-04-24 00:00:00, 200...",4.117374e+07,67256088,11.499889
1,Davide Manuli,1.267374e+07,33628044.0,7.960094,[which way is the front line from here? the li...,"[2013-01-20 00:00:00, 2013-01-20 00:00:00, 201...",1.267374e+07,33628044,7.960094
2,E.W. Swackhamer,1.267374e+07,33628044.0,7.960094,"[eastern boys, eastern boys, eastern boys]","[2013-04-02 00:00:00, 2013-04-02 00:00:00, 201...",1.267374e+07,33628044,7.960094

In [69]:
df_f6_get_director.to_pickle('../../Datasets Cleaned & light/df_f6_get_director.pkl')

In [70]:
df_f6_df_expanded = df_movies[['release_date','title', 'budget', 'revenue', 'return']]

In [71]:
df_f6_df_expanded

,release_date,title,budget,revenue,return
0,1995-10-30,toy story,3.000000e+07,373554033,12.451801
1,1995-12-15,jumanji,6.500000e+07,262797249,4.043035
2,1995-12-22,grumpier old men,4.224579e+06,11209348,2.653365
3,1995-12-22,waiting to exhale,1.600000e+07,81452156,5.090760
4,1995-02-10,father of the bride part ii,4.224579e+06,76578911,18.126993
...,...,...,...,...,...
136393,NaT,subdue,4.224579e+06,11209348,2.653365
136394,2011-11-17,century of birthing,4.224579e+06,11209348,2.653365
136395,2003-08-01,betrayal,4.224579e+06,11209348,2.653365
136396,1917-10-21,satan triumphant,4.224579e+06,11209348,2.653365
136397,2017-06-09,queerama,4.224579e+06,11209348,2.653365

#### Guardo df_f6_df_expanded.pkl:

In [72]:
df_f6_df_expanded.to_pickle('../../Datasets Cleaned & light/df_f6_df_expanded.pkl')

In [73]:
df_f6_get_director.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19711 entries, 0 to 19710
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   directors_names   19711 non-null  object
 1   director_budget   19711 non-null  float64
 2   director_revenue  19711 non-null  float64
 3   director_return   19711 non-null  float64
 4   title             19711 non-null  object
 5   release_date      19711 non-null  object
 6   budget            19711 non-null  float64
 7   revenue           19711 non-null  int64
 8   return            19711 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.4+ MB

#### Funcion 6:

In [75]:
import itertools

def get_director(nombre_director):
    director_df_resume = df_f6_get_director[df_f6_get_director['directors_names'] == nombre_director]

    movies_titles = director_df_resume['title']
    flattened_titles = list(itertools.chain(*movies_titles))


    for movie in flattened_titles:
        movie_search_df = df_f6_df_expanded[df_f6_df_expanded['title'] == movie]
        lista_movie_b_r_r = movie_search_df[['title','release_date','budget', 'revenue', 'return']].to_records(index=False)
    print(lista_movie_b_r_r)
    return(lista_movie_b_r_r)

In [76]:
get_director('Quentin Tarantino')

[('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476)
 ('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476)
 ('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476)]

rec.array([('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476),
           ('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476),
           ('i am not salvador', '2016-01-01T00:00:00.000000000', 4224578.81347469, 11209348, 2.65336476)],
          dtype=[('title', 'O'), ('release_date', '<M8[ns]'), ('budget', '<f8'), ('revenue', '<i8'), ('return', '<f8')])